﻿<style>
body{
    background-color: #093C5D;
}
</style>
@{
    ViewData["Title"] = "Login";
}

@if(ViewBag.msg != null) {
    <div class="alert" id="ventana-modal">
       <div class="modal-dialog">
           <button class="btn btn-danger">
               <span class="material-icons">highlight_off</span>
           </button>
            <div class="modal-content text-center">
                <div class="modal-header">
                    <h5 class="text-danger">Error</h5>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger"> 
                        @ViewBag.msg
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<form asp-controller="auth" asp-action="login" method="post" class="form-login">
    <h5>Iniciar sesión</h5>
    <img src="~/img/main-logo.jpg" alt="IT-Seekers image"/>
    <div class="login-form-content">
        <label for="email" class="label-form">Correo electrónico: </label>
        <br />
        <small class="text-danger">Ingresa un correo válido</small>
        <div class="input-group flex-nowrap">
            <span class="material-icons input-group-text" id="addon-wrapping">mail_outline</span>
            <input type="email" class="form-control" name="email" id="email"  placeholder="Correo Electrónico" required aria-label="Correo Electrónico" aria-describedby="addon-wrapping">
            <span class="material-icons" id="icon-status-email"></span>
        </div>
        <label for="pass" class="label-form">Contraseña: </label>
        <div class="input-group flex-nowrap">
            <span class="material-icons input-group-text" id="addon-wrapping">vpn_key</span>
            <input type="password" class="form-control" name="pass" id="pass" placeholder="Contraseña" required aria-label="Contraseña" aria-describedby="addon-wrapping">
            <span class="material-icons input-group-text" id="btn-action-pass" onclick="showHiddePass()">visibility_off</span>
        </div>
    </div>
    <input class="btn submit" type="submit" value="Ingresar">
</form>

@section scripts {
    <script src="~/js/PassLogin.js" type="text/javascript"></script>
}