<div class="row">
    <div class="col-md-6 offset-3">
        <div class="form-style">
            <form >
                <label>Nueva contraseña:</label>
                <input name="email" id="email" class="form-control"/>
                <label>Confirma la contraseña:</label>
                <input name="email" id="email" class="form-control"/>
                <br />
                <buton class="btn btn-primary" type="submit">Cambiar contraseña</buton>
            </form>
        </div>
    </div>
</div>