<div class="row">
    <div class="col-md-6 offset-3">
        <div class="form-style">
            <form asp-controller="Auth" asp-action="RestorePass" method="post">
                <label>Escribe tu correo electronico</label>
                <input name="email" id="email" class="form-control"/>
                <input type="submit" class="btn btn-primary" value="Recuperar" />
            </form>
        </div>
    </div>
</div>