@using ITS_Middleware.Models.Entities
@model Usuario

<style>
    body, html{
        background-color: #093C5D;
        height: 100%;
    }
     .spacer {
        margin-top: 0;
        margin-bottom: 10px;
        height: 50px;
    }
</style>
<div class="spacer"></div>
<div class="form-restore-pass update-password-form" >
    <form id="restorePasswordForm">
        <input type="hidden" asp-for="Id"/>
        <input type="hidden" asp-for="FechaAlta"/>
        <input type="hidden" asp-for="Activo"/>
        <input type="hidden" asp-for="Nombre" id="Nombre"/>
        <input type="hidden" asp-for="Puesto"/>
        <input type="hidden" asp-for="Email"/>
        <input type="hidden" asp-for="TokenRecovery"/>
        <h5>Actualiza tu contrase&ntilde;a</h5>
        <img src="~/img/main-logo.png" alt="IT-Seekers image"/>
        <div class="restore-form-content">
            <p class="text-center">Hola, <strong id="info-reset-pass"></strong>, ahora puedes ingresar una nueva contraseña.</p>
            <label for="Pass" class="label-form">Nueva contrase&ntilde;a: </label>
            <div class="input-group flex-nowrap">
                <span class="material-icons input-group-text" id="addon-wrapping">vpn_key</span>
                <input type="password" class="form-control" asp-for="Pass" name="Pass" id="Pass" placeholder="Contrase&ntilde;a" required>
            </div>
            <label for="Pass2" class="label-form">Confirma la contrase&ntilde;a: </label>
            <div class="input-group flex-nowrap">
                <span class="material-icons input-group-text" id="addon-wrapping">vpn_key</span>
                <input type="password" class="form-control" name="Pass2" id="Pass2" placeholder="Contrase&ntilde;a" required>
            </div>
        </div>
        <div class="form-check form-switch" style="text-align:left; margin-bottom: 10px;">
            <input class="form-check-input" type="checkbox" role="switch" id="checkboxPassword">
            <label class="form-check-label" for="checkboxPassword">Mostrar contrase&ntilde;as</label>
        </div>
    </form>
    <small id="error-message" style="display: none;" class="text-danger"></small>
    <button style="margin-bottom: 10px;" id="btnUpdatePassword" class="btn btn-primary" disabled>Actualizar contraseña</button>
    <br/>
    <a class="forgot-pass go-to-login-page" asp-controller="Auth" asp-action="Login"><span class="align-middle material-icons">open_in_new</span>&nbsp;Iniciar sesi&oacute;n</a>
</div>

@section scripts {
    <script src="~/js/RestorePassScripts.js" asp-append-version="true"></script>
    <script type="text/javascript">
    $('#checkboxPassword').on('change keyup paste', function() {
        if ($('#checkboxPassword').prop('checked')) {
            $('#Pass').attr('type', 'text')
            $('#Pass2').attr('type', 'text')
            $('#checkboxPassword').attr('checked', 'false')
        } else {
            $('#Pass').attr('type', 'password')
            $('#Pass2').attr('type', 'password')
            $('#checkboxPassword').attr('checked', 'true')
        }
    })
    $(document).ready(() => {
        $('#info-reset-pass').append($('#Nombre').val())
    })
    $('#Pass2, #Pass').on('change keyup paste', function () {
        if ($('#Pass2').val() != $('#Pass').val()) {
            $('#btnUpdatePassword').attr('disabled', true)
            $('#error-message').css('display', 'block')
            $('#error-message').html('<span class="material-icons">warning</span>&nbsp;Asegurate de que las contraseñas sean iguales')
        } else if ($('#Pass2').val().length < 8) {
            $('#btnUpdatePassword').attr('disabled', true)
            $('#error-message').css('display', 'block')
            $('#error-message').html('<span class="material-icons">warning</span>&nbsp;Asegurate de ingresar una contraseña segura')
        } else {
            $('#btnUpdatePassword').attr('disabled', false)
            $('#error-message').css('display', 'none')
            $('#error-message').html('')
        }
    })
    </script>
}