@model ITS_Middleware.Models.Entities.Usuario

<h1>ACTUALIZAR ESTATUS</h1>
@if(ViewBag.msg != null) {
    <div class="text-center">
        <div class="alert alert-warning" role="alert">
            @ViewBag.msg
        </div>
    </div>
} else
{
<hr />
<form asp-controller="Home" asp-action="UpdateStatus" method="post">
    <div class="col-md-6">
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="FechaAlta">
        <input type="hidden" asp-for="Pass">
        <input type="hidden" asp-for="Activo">
        <div class="mb-3">
            <label for="nombre" class="label-form">Nombre:</label>
            <input class="form-control" name="Nombre" asp-for="Nombre" readonly/>
        </div>
        <div class="mb-3">
            <label for="puesto" class="label-form">Puesto:</label>
            <input class="form-control" id="puesto" asp-for="Puesto" name="Puesto" readonly/>
        </div>
        <div class="mb-3">
            <label for="email" class="label-form">Correo electrónico</label>
            <input class="form-control" id="email" asp-for="Email" name="email" readonly/>
        </div>
        <br />
        <div class="row g-2">
            <div class="col-md-6">
                <button class="btn btn-danger" type="submit"><span class="material-icons">update</span>&nbsp;Actualizar</button>
            </div>
            <div class="col-md-6">
                <a asp-controller="Home" asp-action="Users" class="btn btn-outline-primary"><span class="material-icons">undo</span>&nbsp;Cancelar</a>
            </div>
        </div>
    </div>
 </form>
}