@model ITS_Middleware.Models.Entities.Usuario

<h1>ELIMINAR USUARIOS</h1>
<h4>¿Estas seguro de eliminr?</h4>
<hr />
<div class="col-md-6">

    <form asp-controller="Home" asp-action="DeleteUser" method="post">
        <input type="hidden" asp-for="Id" />
        <label for="nombre" class="label-form">Nombre:</label>
        <input class="form-control" name="Nombre" asp-for="Nombre" readonly/>

        <label for="puesto" class="label-form">Puesto:</label>
        <input class="form-control" id="puesto" asp-for="Puesto" name="Puesto" readonly/>

        <label for="email" class="label-form">Correo electrónico</label>
        <input class="form-control" id="email" asp-for="Email" name="email" readonly/>
        <br />
        <button class="btn btn-danger" type="submit" value="Eliminar">Eliminar</button>
    </form>
    <a asp-controller="Home" asp-action="Users" class="btn btn-outline-primary">Cancelar</a>

</div>