@using ITS_Middleware.Models
@model ITS_Middleware.Models.Usuario

<h1>EDITAR USUARIO</h1>
 @if(ViewBag.msg != null) {
    <div class="text-center">
        <div class="alert alert-warning" role="alert">
            @ViewBag.msg
        </div>
    </div>
} else
{
    <hr />
<form asp-controller="Home" asp-action="UpdateUser" method="post">
    <div class="col-md-6">
        <input type="hidden" asp-for="Id" name="Id"/>
        <input type="hidden" asp-for="FechaAlta" name="FechaAlta"/>
        <input type="hidden" asp-for="Activo" name="Activo"/>
        <div class="mb-3">
            <label for="nombre" class="label-form">Nombre:</label>
            <input class="form-control" name="Nombre" asp-for="Nombre" id="nombre" placeholder="Nombre" required/>
        </div>
        <div class="mb-3">
            <label for="puesto" class="label-form">Puesto:</label>
            <input class="form-control" id="puesto" asp-for="Puesto" name="puesto" placeholder="Puesto" required/>
        </div>
        <div class="mb-3">
            <label for="email" class="label-form">Correo electrónico:</label>
            <input class="form-control" id="email" asp-for="Email" name="email" placeholder="Correo electrónico" required/>
        </div>
        <div class="mb-3">
            <label for="pass" class="label-form">Contrase&ntilde;a:</label>
            <input class="form-control" type="password" asp-for="Pass" name="Pass" id="pass" placeholder="*************" />
        </div>
        <br/>
        <div class="row g-2">
            <div class="col-md-6">
                 <button class="btn btn-success" type="submit" value="EditarUsuario"><span class="material-icons">save_as</span>&nbsp;Actualizar</button>
            </div>
            <div class="col-md-6">
                <a asp-controller="Home" asp-action="Users" class="btn btn-outline-primary"><span class="material-icons">undo</span>&nbsp;Cancelar</a>
            </div>
        </div>
    </div>
</form>
}
