@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

        <aside class="form-login">


        <h2>Iniciar sesión.</h2>
        <input class="controls" type="text" name="usuario" value="" placeholder="Email">
        <input class="controls" type="password" name="contrasena" value="" placeholder="Contraseña">
        <button class="controls"type="submit" name="btnSesion" value="Ingresar."></button>

    </aside>


</div>
