@model ITS_Middleware.Models.Entities.Usuario
<div class="col-md-6">
    <h3>Usuarios</h3>
    <form asp-controller="Home" asp-action="RegisterUser" method="post">

        <label for="nombre" class="label-form">Nombre:</label>
        <input class="form-control" name="Nombre" asp-for="Nombre" id="nombre" placeholder="Nombre" />

        <label for="puesto" class="label-form">Puesto:</label>
        <input class="form-control" id="puesto" asp-for="Puesto" name="Puesto" placeholder="Puesto" />

        <label for="email" class="label-form">Correo electrónico</label>
        <input class="form-control" id="email" asp-for="Email" name="Email" placeholder="Correo electrónico" />

        <label for="password" class="label-form">Password</label>
        <input class="form-control" type="password" asp-for="Pass" name="Pass" id="pass" placeholder="*****" />

        <label for="FechaAlta" class="label-form">Fecha Alta</label>
        <input class="form-control" type="hidden" asp-for="FechaAlta" name="FechaAlta" id="FechaAlta" value="@DateTime.Now"/>

        <br />
        <button class="btn btn-success" type="submit" value="Registro">REGISTRAR</button>


    </form>

</div>