@model ITS_Middleware.Models.Usuario

<h1>REGISTRAR USUARIO</h1>
<div class="text-center">
    @if(ViewBag.msg != null) {
        <div class="alert alert-warning" role="alert">
            @ViewBag.msg
        </div>
    }
</div>
<hr />
<form asp-controller="Home" asp-action="RegisterUser" method="post">
    <div class="col-md-6">
        <div class="mb-3">
            <label for="nombre" class="label-form">Nombre:</label>
            <input class="form-control" name="Nombre" asp-for="Nombre" id="nombre" placeholder="Nombre" />
        </div>
        <div class="mb-3">
            <label for="puesto" class="label-form">Puesto:</label>
            <input class="form-control" id="puesto" asp-for="Puesto" name="Puesto" placeholder="Puesto" />
        </div>
        <div class="mb-3">
            <label for="email" class="label-form">Correo electr&oacute;nico:</label>
            <input class="form-control" id="email" asp-for="Email" name="Email" placeholder="Correo electrónico" />
        </div>
        <div class="mb-3">
            <label for="password" class="label-form">Contrase&ntilde;a:</label>
            <input class="form-control" type="password" asp-for="Pass" name="Pass" id="pass" placeholder="*****" />
        </div>
        <input class="form-control" type="hidden" asp-for="FechaAlta" name="FechaAlta" id="FechaAlta" value="@DateTime.Now"/>
        <br />
        <div class="row g-2">
            <div class="col-md-6">
                 <button class="btn btn-success" type="submit" value="Registro"><span class="material-icons">save</span>&nbsp;Guardar</button>
            </div>
            <div class="col-md-6">
                <a asp-controller="Home" asp-action="Users" class="btn btn-outline-primary"><span class="material-icons">undo</span>&nbsp;Cancelar</a>
            </div>
        </div>
    </div>
</form>