@model ErrorViewModel

@{
    Layout = null;
    int errorCounter = 1;
}
<!DOCTYPE html>
<html lang="es-mx">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Error</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/ErrorStyle.css" asp-append-version="true" />
    <link rel="shortcut icon" href="~/icon-page.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap5.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>

<body class="loading">
  <h1 class="text-danger">Error</h1>
  <h2><span class="align-middle material-icons">mood_bad</span>&nbsp;Ha ocurrido un error mientras se procesaba la solicitud</h2>
    @foreach(string errorMsg in (IEnumerable<string>)TempData["ErrorsMessages"])
    {
        <p class="text-center text-bg-danger">
            <strong>Error #@errorCounter :&nbsp;</strong> <code>@errorMsg</code>
        </p>
        errorCounter++;
    }
  <div class="gears">
    <div class="gear one">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>
    <div class="gear two">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>
    <div class="gear three">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>
  </div>

  <script type="text/javascript">
    $(function() {
        setTimeout(function() {
            $('body').removeClass('loading');
        }, 1000);
    });
</script>
</body>
</html>