<style>
        .container {
            text-align: center;
            margin-top: 10px;
            color: #272727;
        }
        
        .container .header-content {
            padding: 5px;
            text-align: left;
            margin: auto;
        }
        
        .container .content-form {
            padding: 15px;
            margin: auto;
            box-shadow: 2px 2px 10px 1px #00000033;
            border-radius: 5px;
            margin: auto;
        }
        
        .container .content-form .row {
            align-items: center;
        }
        
        .container .content-form .row .col img {
            object-fit: cover;
            max-height: 250px;
        }
        
        .container .content-form .row .col .mb-3 {
            position: relative;
        }
        
        .container .content-form .row .col .mb-3 button {
            position: absolute;
            top: 45%;
            right: 0;
            border: none;
            font-size: 18px;
            color: #a1a1a1;
            transition: all .3s;
        }
        
        .container .content-form .row .col .mb-3 button:hover {
            color: #272727;
            text-shadow: 2px 2px 2px #0f0f0f57
        }
        
        .container .content-form .row .col .btn {
            border: none;
        }
        
        .container .content-form .row .col .btn-back-login {
            background-color: #0000000c;
        }
        
        @@media screen and (max-width:1005px) {
            .container .content-form .row .col img {
                max-width: 250px;
            }
        }
        
        @@media screen and (max-width:600px) {
            .container .content-form .row {
                flex-direction: column;
            }
            .container .content-form .row .col img {
                max-width: 300px;
            }
        }
    </style>
    <div class="container">
        <div class="header-content">
            <h3>Actualización de contraseña</h3>
            <h4>¡Hola <label id="UserName">nombre de usuario!</label></h4>
            <p>Genera una nueva contraseña para <strong>Empresa / proeycto</strong></p>
        </div>
        <div class="content-form">
            <div class="row">
                <div id="alert-toast" style="position: fixed; top: 20px;" class="toast align-items-center text-bg-danger border-0" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="d-flex">
                        <div class="toast-body"></div>
                        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                </div>
                <div class="col">
                    <div class="mb-3">
                        <label for="newPassword" class="form-label">Nueva contraseña:</label>
                        <input type="password" class="form-control" id="newPassword" placeholder="Nueva contraseña">
                        <button class="btn" onclick="showHidePass()" title="Ver - Ocultar contraseña">
                            <i id="pass1" class="bi bi-eye-slash-fill icon-password"></i>
                        </button>
                    </div>
                    <div class="mb-3">
                        <label for="passwordConfirm" class="form-label">Confirma tu contraseña:</label>
                        <input type="password" class="form-control" id="passwordConfirm" placeholder="Confirma tu contraseña">
                        <button class="btn" onclick="showHidePass()" title="Ver - Ocultar contraseña">
                            <i id="pass2" class="bi bi-eye-slash-fill icon-password"></i>
                        </button>
                    </div>
                    <a href="#" class="btn btn-back-login"><i class="bi bi-arrow-up-left"></i>&nbsp;Iniciar sesión</a>
                    <button id="buttonUpdatePass" class="btn btn-primary"><i class="bi bi-check-circle-fill"></i>&nbsp;Actualizar</button>
                </div>
                <div class="col">
                    <img src="http://www.oficinaempleo.mx/blog/wp-content/uploads/2017/07/Bimbo.jpg" alt="" srcset="">
                </div>
            </div>
        </div>
    </div>

<script type="text/javascript">
    var showPass = true

function showHidePass() {
    if (showPass) {
        $('#pass1, #pass2').attr('class', 'bi bi-eye-fill icon-password')
        $('#newPassword, #passwordConfirm').attr('type', 'text')
        showPass = false
    } else {
        $('#pass1, #pass2').attr('class', 'bi bi-eye-slash-fill icon-password')
        $('#newPassword, #passwordConfirm').attr('type', 'password')
        showPass = true
    }
}
</script>