@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

html {
    font-size: 14px;
    font-family: 'Roboto';
}

.btn span {
    margin: 0;
}


@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: 'Roboto';
}

.material-icons {
    font-size: 11pt;
}

body .table thead {
    background-color: #022338;
    color: #fff;
}

body .table tbody tr td {
    background-color: #093C5D;
    color: #fff;
}

header nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #093C5D;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}


    header nav .sidenav {
        position: relative;
    }



        header nav .sidenav a {
            padding: 8px 8px 8px 32px;
            text-decoration: none;
            font-size: 25px;
            color: #a8a8a8;
            display: block;
            transition: 0.3s;
        }

            header nav .sidenav a:hover {
                color: #f1f1f1;
            }


        header nav .sidenav .closebtn {
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 36px;
            margin-left: 50px;
        }

header .nav-bar-top {
    background-color: #022338;
    position: fixed;
    width: 100%;
    top: 0;
    height: 50px;
    z-index: 2;
    padding: 10px;
}

    header .nav-bar-top h3 {
        text-align: center;
        color: #e7e7e7;
    }

#btn-active-menu {
    margin: 5px;
    color: #e7e7e7;
    cursor: pointer;
    position: absolute;
    top: 5px;
    left: 25px;
    transition: all .3s;
}

    #btn-active-menu:hover {
        color: #df1847;
    }


@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

        .sidenav a {
            font-size: 18px;
        }
}
