<h1>Login</h1>
@ViewBag.msg
<form asp-controller="auth" asp-action="login" method="post">
    Email: <input class="form-control" type="email" name="email" id="email" />
    Password: <input class="form-control" type="password" name="pass" id="pass" />
    <br/>
    <input type="submit" class="btn btn-dark" value="Login"/>
</form>