@model ITS_Middleware.Models.Usuario

<form id="registerUserForm">
    <div class="col-md-12">
        <div class="mb-3">
            <label for="nombre" class="label-form">Nombre:</label>
            <input class="form-control" name="Nombre" asp-for="Nombre" id="nombre" placeholder="Nombre" required />
        </div>
        <div class="mb-3">
            <label for="puesto" class="label-form">Puesto:</label>
            <input class="form-control" id="puesto" asp-for="Puesto" name="Puesto" placeholder="Puesto" required/>
        </div>
        <div class="mb-3">
            <label for="email" class="label-form">Correo electr&oacute;nico:</label>
            <input class="form-control" id="email" asp-for="Email" name="Email" placeholder="Correo electrónico" required/>
        </div>
        <div class="mb-3">
            <label for="password" class="label-form">Contrase&ntilde;a:</label>
            <input class="form-control" type="password" asp-for="Pass" name="Pass" id="pass" placeholder="*****" required/>
        </div>
        <input class="form-control" type="hidden" asp-for="FechaAlta" name="FechaAlta" id="FechaAlta" value="@DateTime.Now"/>
        <div class="d-grid gap-2 col-6 mx-auto">
            <button class="btn btn-success" id="btnRegisterUser" type="submit" value="Registro"><span class="material-icons">save</span>&nbsp;Registrar</button>
        </div>
    </div>
</form>

@section scripts {
    <script src="~/js/userScripts.js" asp-append-version="true"></script>
}