@using ITS_Middleware.Models.Entities
@model Usuario

<form id="registerUserForm">
    <div class="col-md-12">
        <div class="mb-3">
            <label for="Nombre" class="label-form">Nombre:</label>
            <div class="input-group flex-nowrap">
                <span class="material-icons input-group-text" id="addon-wrapping">account_circle</span>
                <input type="text" class="form-control" asp-for="Nombre" id="Nombre" placeholder="Nombre" required/>
            </div>
            <p><small class="text-danger" id="messageNombre"></small></p>
        </div>
        <div class="mb-3">
            <label for="Puesto" class="label-form">Puesto:</label>
            <div class="input-group flex-nowrap">
                <span class="material-icons input-group-text" id="addon-wrapping">badge</span>
                <input type="text" class="form-control" id="Puesto" asp-for="Puesto" placeholder="Puesto" required/>
            </div>
            <p><small class="text-danger" id="messagePuesto"></small></p>
        </div>
        <div class="mb-3">
            <label for="Email" class="label-form">Correo electr&oacute;nico:</label>
            <div class="input-group flex-nowrap">
                <span class="material-icons input-group-text" id="addon-wrapping">email</span>
                <input type="email" class="form-control" id="Email" asp-for="Email" placeholder="Correo electrónico" required/>
            </div>
            <p><small class="text-danger" id="messageEmail"></small></p>
        </div>
        <div class="mb-3">
            <label for="Password" class="label-form">Contrase&ntilde;a:</label>
            <div class="input-group flex-nowrap">
                <span class="material-icons input-group-text" id="addon-wrapping">vpn_key</span>
                <input class="form-control" type="password" asp-for="Pass" id="Pass" placeholder="Contrase&ntilde;a" />
                <span class="material-icons input-group-text" id="btn-action-pass">visibility_off</span>
            </div>
            <p><small class="text-danger" id="messagePass"></small></p>
        </div>
        <button type="button" class="btn btn-generate-pass">Nueva contrase&ntilde;a</button>
    </div>
</form>

<script src="~/js/passControlScript.js" asp-append-version="true"></script>
<script src="~/js/userScripts.js" asp-append-version="true"></script>

<script type="text/javascript" asp-append-version="true">
    isToUpdate = false
</script>