@using ITS_Middleware.Models.Entities
@model Usuario

<form id="registerUserForm">
    <div class="col-md-12">
        <input type="hidden" asp-for="Id"/>
        <div class="mb-3">
            <label for="Nombre" class="label-form">Nombre:</label>
            <input class="form-control" type="text" id="Nombre" asp-for="Nombre" placeholder="Nombre" required />
        </div>
        <div class="mb-3">
            <label for="Puesto" class="label-form">Puesto:</label>
            <input class="form-control" type="text" id="Puesto" asp-for="Puesto" placeholder="Puesto" required/>
        </div>
        <div class="mb-3">
            <label for="Email" class="label-form">Correo electr&oacute;nico:</label>
            <input class="form-control" id="Email" type="email" asp-for="Email" placeholder="Correo electrónico" required/>
        </div>
        <div class="mb-3">
            <label for="Password" class="label-form">Contrase&ntilde;a:</label>
            <input class="form-control" type="password" asp-for="Pass" id="Pass" placeholder="Contrase&ntilde;a" required/>
        </div>
    </div>
</form>

<script src="~/js/userScripts.js" asp-append-version="true"></script>